<div class="ingreso">
    <div class="cuadro">
        <h1>Copa America</h1>
        <input class="input-username" type="text" [(ngModel)]="username" placeholder="username">
        <input class="input-password" type="password" [(ngModel)]="password" placeholder="password">
        <div class="options">
            <button (click)="LoginUsuario()">Login</button>
            <button (click)="RegistrarUsuario()">Register</button>
        </div>
        <a class="link-forget-password" href="">Did you forget your password?</a>
    </div>
</div>