.admin-home {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: #fefefe;
}

.admin-home header {
    width: 100%;
    height: 80px;
    padding: 20px 40px;
}

.admin-home header h1 {
    padding: 0;
    margin: 0;
}

.admin-home .content {
    height: 100%;
    display: flex;
}

.admin-home .content aside {
    height: 100%;
    width: 300px;
    background: #fefefe;
    position: relative;
}

.admin-home .content aside ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.admin-home .content aside ul li {
    width: 100%;
}

.admin-home .content aside ul li button {
    width: 100%;
    height: 80px;
    text-align: center;
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: #333;
    transition: all .3s ease;
}

.admin-home .content aside ul li button:hover {
    background-color: #e8ecec;
}

.admin-home .content aside ul li button.highlightOption {
    background-color: #57575771;
}

.admin-home .modes {
    width: 100%;
    background-color: transparent;
}

.admin-home #mode-championship,
.admin-home #mode-team,
.admin-home #mode-match,
.admin-home #mode-result,
.admin-home #mode-more-options {
    width: 100%;
    height: 100%;
    padding: 40px;
    flex-direction: column;
    background-color: #f2f6f8;
    display: none;
    gap: 30px;
}

.admin-home #mode-championship {
    display: flex;
}

.admin-home .content .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-home .content .options button {
    width: 100%;
    background-color: rgb(231, 231, 231);
    border: none;
    font-size: 20px;
    padding: 18px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.admin-home .content .options button:hover {
    background-color: rgb(185, 185, 185);
}

.admin-home .content .cont{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    max-height: 600px;
}

.admin-home .content .option-view,
.admin-home .content .option-create,
.admin-home .content .option-modify,
.admin-home .content .option-active,
.admin-home .content .option-add-team {
    display: none;
    flex-direction: column;
    gap: 30px;
}

.admin-home .content .option-view {
    display: flex;
}

.admin-home .content .option-view ul{
    list-style: none;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.admin-home .content .option-view ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(160, 241, 255, 0.775);
    padding: 10px 40px;
}

.admin-home .content.option-view ul li {
    background-color: #fefefe;
}

.admin-home .content .data{
    box-shadow: 0 0 20px #0000001a;
    border-bottom: 1px solid #C6D2D9;
    background-color: #fefefe;
    border: 1px solid #C6D2D9;
    border-radius: 2px;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.admin-home .content .data label {
    width: 250px;
    margin-right: 20px;
}

.admin-home .content .data input,
.admin-home .content .data select {
    box-shadow: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 100%;
    height: calc(2.7rem + 2px);
    padding: .6rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fefefe;
    background-clip: padding-box;
    border-radius: 2px;
    border: transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.admin-home .content .data input:focus-visible,
.admin-home .content .data input:hover,
.admin-home .content .data select:hover,
.admin-home .content .data select:focus-visible {
    border: 1px solid #C6D2D9;
}

.admin-home .content .btn-submit {
    background-color: rgb(32, 163, 32);
    color: white;
    font-size: 24px;
    width: 100%;
    border: none;
    padding: 18px;
}

.admin-home .content .btn-submit:hover {
    background-color: green;
}

.admin-home .data-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.admin-home .data-space-arround {
    align-items: center !important;
    justify-content: center !important;
    gap: 40px !important;
    padding: 5px !important;
}

.admin-home .data-space-arround h2 {
    font-size: 28px !important;
}

.inputChampion {
  margin-top: 12px;
}

.flex {
  display: flex;
}
