<div class="admin-home">
    <header><h1>Penca UCU</h1></header>
    <div class="content">
        <aside>
            <ul>
                <li><button (click)="ChooseMode(1)" (click)="HighlightOption($event)">Campeonatos</button></li>
                <li><button (click)="ChooseMode(2)" (click)="HighlightOption($event)">Equipo</button></li>
                <li><button (click)="ChooseMode(3)" (click)="HighlightOption($event)">Partidos</button></li>
                <li><button (click)="ChooseMode(4)" (click)="HighlightOption($event)">Resultado</button></li>
            </ul>
        </aside>
        <div class="modes">
            <div id="mode-championship">
                <div class="options">
                    <button (click)="ChooseOptionChampionship(1)">Ver</button>
                    <button (click)="ChooseOptionChampionship(2)">Crear</button>
                    <button (click)="ChooseOptionChampionship(3)">Modificar</button>
                </div>
                <div class="cont">
                    <div class="option-view">
                        <ul>
                            <li *ngFor="let championship of championships">
                                <h2>{{championship.championshipName}}</h2>
                                <p>{{championship.startDate}}-{{championship.endDate}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="option-create">
                        <button class="btn-submit" (click)="AddChampionship()">Crear</button>
                        <div class="data"><input type="text" [(ngModel)]="championshipName" placeholder="Nombre campeonato"></div>
                        <div class="data"><input type="date" [(ngModel)]="championshipStartDate" placeholder="Fecha comienzo"></div>
                        <div class="data"><input type="date" [(ngModel)]="championshipEndDate" placeholder="Fecha fin"></div>
                    </div>
                    <div class="option-modify"></div>
                </div>
            </div>

            <div id="mode-team">
                <div class="options">
                    <button (click)="ChooseOptionTeam(1)">Ver</button>
                    <button (click)="ChooseOptionTeam(2)">Crear</button>
                    <button (click)="ChooseOptionTeam(3)">Modificar</button>
                </div>
                <div class="cont">
                    <div class="option-view">
                        <div class="data">
                            <label for="input-selection-championship-2">Selecciona un campeonato</label>
                            <select id="input-selection-championship-2">
                                <option *ngFor="let championship of championships">{{championship.championshipName}}</option>
                            </select>
                        </div>
                        <ul>
                            <li *ngFor="let team of teams">
                                <h2>{{team.teamName}}</h2>
                            </li>
                        </ul>
                    </div>
                    <div class="option-create">
                        <button class="btn-submit" (click)="AddTeam()">Crear</button>
                        <div class="data">
                            <label for="input-selection-championship-2">Selecciona un campeonato</label>
                            <select id="input-selection-championship-2" [(ngModel)]="teamSelectedChampionship">
                                <option *ngFor="let championship of championships">{{championship.championshipName}}</option>
                            </select>
                        </div>
                        <div class="data"><input type="text" [(ngModel)]="teamName" placeholder="Nombre equipo"></div>
                    </div>
                    <div class="option-modify"></div>
                </div>
            </div>

            <div id="mode-match">
                <div class="options">
                    <button (click)="ChooseOptionMatch(1)">Ver</button>
                    <button (click)="ChooseOptionMatch(2)">Crear</button>
                    <button (click)="ChooseOptionMatch(3)">Modificar</button>
                </div>
                <div class="cont">
                    <div class="option-view">
                        <div class="data">
                            <label for="input-selection-championship-2">Selecciona un campeonato</label>
                            <select id="input-selection-championship-2">
                                <option *ngFor="let championship of championships">{{championship.championshipName}}</option>
                            </select>
                        </div>
                        <ul>
                            <li *ngFor="let match of matches">
                                <h2>{{match.team1}} vs {{match.team2}}</h2>
                                <p>{{match.location}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="option-create">
                        <button class="btn-submit" (click)="AddMatch()">Crear</button>
                        <div class="data">
                            <label for="input-selection-championship-3">Selecciona un campeonato</label>
                            <select id="input-selection-championship-3" [(ngModel)]="matchSelectedChampionship">
                                <option *ngFor="let championship of championships">{{championship.championshipName}}</option>
                            </select>
                        </div>
                        <div class="data"><input type="text" [(ngModel)]="matchTeam1" placeholder="Nombre equipo 1"></div>
                        <div class="data"><input type="text" [(ngModel)]="matchTeam2" placeholder="Nombre equipo 2"></div>
                        <div class="data"><input type="text" [(ngModel)]="matchLocation" placeholder="Ubicacion"></div>
                        <div class="data"><input type="date" [(ngModel)]="matchDate" placeholder="Fecha partido"></div>
                    </div>
                    <div class="option-modify"></div>
                </div>
            </div>

            <div id="mode-result">
                <div class="options">
                    <button (click)="ChooseOptionResult(1)">Ver</button>
                    <button (click)="ChooseOptionResult(2)">Crear</button>
                    <button (click)="ChooseOptionResult(3)">Modificar</button>
                </div>
                <div class="cont">
                    <div class="option-view">
                        <div class="data">
                            <label for="input-selection-championship-2">Selecciona un campeonato</label>
                            <select id="input-selection-championship-2">
                                <option *ngFor="let championship of championships">{{championship.championshipName}}</option>
                            </select>
                        </div>
                        <ul>
                            <li *ngFor="let result of results">
                                <h2>{{result.team1}} {{result.scoreTeam1}} vs {{result.team2}} {{result.scoreTeam2}}</h2>
                            </li>
                        </ul>
                    </div>
                    <div class="option-create">
                        <button class="btn-submit" (click)="AddResult()">Crear</button>
                        <div class="data">
                            <label for="input-selection-championship-4">Selecciona un campeonato</label>
                            <select id="input-selection-championship-4" [(ngModel)]="resultSelectedChampionship">
                                <option value="opcion1" *ngFor="let championship of championships">{{championship.championshipName}}</option>
                            </select>
                        </div>
                        <div class="data">
                            <label for="input-selection-match">Selecciona un partido</label>
                            <select id="input-selection-match" [(ngModel)]="resultSelectedMatch">
                                <option value="opcion1" *ngFor="let match of matches">{{match.team1}} vs {{match.team2}}</option>
                            </select>
                        </div>
                        <div class="data"><input type="number" [(ngModel)]="resultScoreTeam1" placeholder="Goles equipo 1"></div>
                        <div class="data"><input type="number" [(ngModel)]="resultScoreTeam2" placeholder="Goles equipo 2"></div>
                    </div>
                    <div class="option-modify"></div>
                </div>
            </div>
        </div>
    </div>
</div>