<app-user-header></app-user-header>

<div class="user-home">
    <div class="presentation">
        <h1>Copa America 2024</h1>
        <p>Tienes {{score}} puntos acumulados!!!</p>
    </div>

    <div class="premios">
        <div class="premio-1">
            <div class="position">
                <img src="../../assets/medalla-1.png" alt="">
            </div>
            <div class="content">
                <img src="../../assets/camisa.png" alt="">
            </div>
        </div>
        <div class="premio-2">
            <div class="position">
                <img src="../../assets/medalla-2.png" alt="">
            </div>
            <div class="content">
                <img src="../../assets/pelota.png" alt="">
            </div>
        </div>
    </div>
</div>
