.user-home{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.user-home .presentation {
    width: 600px;
    height: 140px;
    gap: 10px;
    background-color: var(--targetColor);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    flex-direction: column;
}

.user-home .presentation h1 {
    color: var(--textColor);
    font-size: 48px;
    margin: 0;
}

.user-home .presentation p{
    font-size: 20px;
    color: white;
    margin: 0;
}

.user-home .premios{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 100px 0 40px 0;
}

.user-home .premios .premio-1 {
    width: 350px;
    height: 400px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.user-home .premios .premio-1 .position {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-home .premios .premio-1 img {
    width: 80px;
    height: 80px;
}

.user-home .premios .premio-1 .content{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.user-home .premios .premio-1 .content img{
    width: 260px;
    height: 260px;
    margin-bottom: 20px;
}

.user-home .premios .premio-2 {
    width: 280px;
    height: 350px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.user-home .premios .premio-2 .position {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-home .premios .premio-2 img {
    width: 80px;
    height: 80px;
}

.user-home .premios .premio-2 .content{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.user-home .premios .premio-2 .content img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}