.games {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

/* PARTIDOS */
.games .matches {
    width: 90%;
    margin-top: 140px;
    z-index: 1;
}

.games .matches .options {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--targetColor);
    box-shadow: 8px 8px 50px #23232333;
    padding: 4px;
    height: 84px;
}

.games .matches .options button,
.games .matches .options select {
    width: 100%;
    padding: 20px;
    background-color: transparent;
    font-size: 24px;
    text-align: center;
    border: none;
    transition: all .2s ease-in-out;
    color: var(--textColor);
}

.games .matches .options button:hover,
.games .matches .options select:hover {
    background-color: var(--color1);
}

.games .matches .options select option {
    color: black;
}

.games .matches ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.games .matches ul li {
    width: 350px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.games .matches ul li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
    transition: all 0.5s;
}

.games .matches ul li a:hover {
    transform: scale(1.021);
}

.games .matches ul li a:active {
    transform: scale(0.95) rotateZ(1.1deg);
}

.games .matches ul li a .front {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: var(--cardColor2);
}

.games .matches ul li a .front h3 {
    font-size: 28px;
    width: 100%;
    margin: 0;
    color: var(--textColor);
}

.games .matches ul li a .front .match-1 {
    text-align: start;
}

.games .matches ul li a .front .match-2 {
    text-align: end;
}

.games .matches ul li a .front p {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    color: var(--textColor);
}

.games .matches ul li a .info {
    background: var(--cardColor1);
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px 20px;
}

.games .matches ul li a .info h2 {
    margin: 0;
    font-size: 26px;
    width: 100%;
    text-align: center;
    color: var(--textColor);
}

.games .matches ul li a .info p {
    margin: 0;
    border-radius: 5px;
    padding: 5px;
    width: auto;
    color: var(--textColor);
}

@media (max-width: 700px) {
    .games .matches {
        margin-top: 100px;
    }

    .games .matches .options {
        height: 120px;
        flex-wrap: wrap;
    }

    .games .matches .options button,
    .games .matches .options select {
        padding: 15px;
        font-size: 16px;
        width: 50%;

    }

    .games .matches .options button:hover,
    .games .matches .options select:hover {
        background-color: rgba(52, 73, 94, 0.89);
        font-size: 16px;
    }

}

@media (max-width: 700px) {
    .games .matches ul {
        grid-template-columns: repeat(auto-fill, 280px);
        gap: 20px;
    }

    .games .matches ul li {
        width: 280px;
        height: 240px;
    }

    .games .matches ul li a .front {
        height: 150px;
        padding: 20px 12px;
    }

    .games .matches ul li a .front h3 {
        font-size: 20px;
    }

    .games .matches ul li a .front p {
        font-size: 14px;
    }

    .games .matches ul li a .info {
        height: 90px;
    }

    .games .matches ul li a .info h2 {
        font-size: 20px;
    }

    .games .matches ul li a .info p {
        font-size: 12px;
    }

}