<div class="ingreso">
    <button class="btn-ingreso-admin" (click)="IngresoAdmin()"><img src="../../assets/admin.png" alt=""></button>
    <div class="cuadro">
        <div class="options">
            <button (click)="ChangeModeLogin()">Login</button>
            <button (click)="ChangeModeRegister()">Register</button>
        </div>
        
        <div class="mode-login">
            <input class="input-cedula" type="text" [(ngModel)]="cedula" placeholder="cedula">
            <input class="input-password" type="password" [(ngModel)]="password" placeholder="password">
        </div>

        <div class="mode-register">
            <input class="input-cedula" type="text" [(ngModel)]="cedula" placeholder="cedula">
            <input class="input-password" type="password" [(ngModel)]="password" placeholder="password">
            <input class="input-nombre" type="text" [(ngModel)]="username" placeholder="username">
        </div>
        
        <button routerLink="/home" class="btn-ingreso" (click)="Ingresar()">Ingresar</button>
    </div>
</div>