<div class="admin-menu">
    <div class="content">
        <aside>
            <h1>Welcome admin</h1>
            <ul>
                <li><button (click)="ChangeMode(1)">Crear campeonato</button></li>
                <li><button (click)="ChangeMode(2)">Añadir equipo</button></li>
                <li><button (click)="ChangeMode(3)">Añadir resultado</button></li>
                <li><button (click)="ChangeMode(4)">Añadir partidos</button></li>
            </ul>
            <div class="btn-configuration">
                <button class="button">
                    <svg
                      class="svg-icon"
                      fill="none"
                      height="20"
                      viewBox="0 0 20 20"
                      width="20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g stroke="white" stroke-linecap="round" stroke-width="1.5">
                        <circle cx="10" cy="10" r="2.5"></circle>
                        <path
                          clip-rule="evenodd"
                          d="m8.39079 2.80235c.53842-1.51424 2.67991-1.51424 3.21831-.00001.3392.95358 1.4284 1.40477 2.3425.97027 1.4514-.68995 2.9657.82427 2.2758 2.27575-.4345.91407.0166 2.00334.9702 2.34248 1.5143.53842 1.5143 2.67996 0 3.21836-.9536.3391-1.4047 1.4284-.9702 2.3425.6899 1.4514-.8244 2.9656-2.2758 2.2757-.9141-.4345-2.0033.0167-2.3425.9703-.5384 1.5142-2.67989 1.5142-3.21831 0-.33914-.9536-1.4284-1.4048-2.34247-.9703-1.45148.6899-2.96571-.8243-2.27575-2.2757.43449-.9141-.01669-2.0034-.97028-2.3425-1.51422-.5384-1.51422-2.67994.00001-3.21836.95358-.33914 1.40476-1.42841.97027-2.34248-.68996-1.45148.82427-2.9657 2.27575-2.27575.91407.4345 2.00333-.01669 2.34247-.97026z"
                          fill-rule="evenodd"
                        ></path>
                      </g>
                    </svg>
                    <span class="lable">Account</span>
                  </button>
            </div>  
        </aside>

        <div class="modes">
            <div id="mode1" class="mode">
                <h2>Crear campeonato</h2>
                <div class="mode1-content">
                    <div class="input">
                        <label for="input-nombre-campeonato">Nombre campeonato</label>
                        <input type="text" id="input-nombre-campeonato" class="input-nombre-campeonato">
                    </div>
                    <div class="input">
                        <label for="input-fecha-comienzo">Fecha comienzo</label>
                        <input type="date" id="input-fecha-comienzo" class="input-fecha-comienzo">
                    </div>
                    <div class="input">
                        <label for="input-fecha-fin">Fecha fin</label>
                        <input type="date" id="input-fecha-fin" class="input-fecha-fin">
                    </div>
                </div>
            </div>

            <div id="mode2" class="mode">
                <h2>Añadir equipo</h2>
                <div class="mode2-content">
                    <div class="input">
                        <label for="input-nombre-equipo">Nombre equipo</label>
                        <input type="text" id="input-nombre-equipo" class="input-nombre-equipo">
                    </div>
                    <div class="input">
                        <label for="input-nombre-pais">Pais</label>
                        <input type="text" id="input-nombre-pais" class="input-nombre-pais">
                    </div>
                </div>
            </div>

            <div id="mode3" class="mode">
                <h2>Añadir resultado</h2>
                <div class="mode3-content">
                    <div class="input">
                        <label for="input-seleccion-partido">Selecciona un partido</label>
                        <select id="input-seleccion-partido" class="input-seleccion-partido">
                            <option value="opcion1">Opción 1</option>
                            <option value="opcion2">Opción 2</option>
                            <option value="opcion3">Opción 3</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="input-goles-equipo-1">Goles equipo 1</label>
                        <input type="number" id="input-goles-equipo-1" class="input-goles-equipo-1">
                    </div>
                    <div class="input">
                        <label for="input-goles-equipo-2">Goles equipo 2</label>
                        <input type="number" id="input-goles-equipo-2" class="input-goles-equipo-2">
                    </div>
                </div>
            </div>

            <div id="mode4" class="mode">
                <h2>Añadir partido</h2>
                <div class="mode4-content">
                    <div class="input">
                        <label for="input-nombre-equipo-1">Nombre equipo 1</label>
                        <input type="text" id="input-nombre-equipo-1" class="input-nombre-equipo-1">
                    </div>
                    <div class="input">
                        <label for="input-nombre-equipo-2">Nombre equipo 2</label>
                        <input type="text" id="input-nombre-equipo-2" class="input-nombre-equipo-2">
                    </div>
                    <div class="input">
                        <label for="input-ubicacion-partido">Ubicacion</label>
                        <input type="text" id="input-ubicacion-partido" class="input-ubicacion-partido">
                    </div>
                    <div class="input">
                        <label for="input-fecha-partido">Fecha partido</label>
                        <input type="date" id="input-fecha-partido" class="input-fecha-partido">
                    </div>
                    <div class="input">
                        <label for="input-hora-partido">Hora partido</label>
                        <input type="time" id="input-hora-partido" class="input-hora-partido">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>