/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;1,300&display=swap');

* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

/* Dark Light mode */
:root {
    --color1: #5BBCFF;
    --color2: rgb(218, 21, 21);
}

body.light-mode {
    --bgColor: white;
    --textColor: black;
    --targetColor: rgba(240, 240, 240, 0.3);
    --cardColor1: #e9e9e9;
    --cardColor2: #4b4b4b98;
    --cardColor3: rgba(83, 83, 83, 0.623);
}

body.dark-mode {
    --bgColor: black;
    --textColor: white;
    --targetColor: rgba(0, 0, 0, 0.6);
    --cardColor1: #212121;
    --cardColor2: #0f202798;
    --cardColor3: rgba(248, 248, 255, 0.623);
}