<app-header-user></app-header-user>

<div class="user-menu">
    <div class="presentation">
        <h1>Copa America 2024</h1>
    </div>

    <div class="premios">
        <div class="premio-1">
            <div class="position">
                <img src="../../assets/medalla-1.png" alt="">
            </div>
            <div class="content">
                <img src="../../assets/camisa.png" alt="">
            </div>
        </div>
        <div class="premio-2">
            <div class="position">
                <img src="../../assets/medalla-2.png" alt="">
            </div>
            <div class="content">
                <img src="../../assets/pelota.png" alt="">
            </div>
        </div>
    </div>

    <div class="podio">
        <ul>
            <li>
                <div class="persona">
                    <h2>Usuario 1</h2>
                    <img src="../../assets/avatar/avatar-1.png" alt="">
                </div>
                <div class="user-position">
                    <p>10p</p>
                </div>
            </li>
            <li>
                <div class="persona">
                    <h2>Usuario 1</h2>
                    <img src="../../assets/avatar/avatar-1.png" alt="">
                </div>
                <div class="user-position">
                    <p>10p</p>
                </div>
            </li>
            <li>
                <div class="persona">
                    <h2>Usuario 1</h2>
                    <img src="../../assets/avatar/avatar-1.png" alt="">
                </div>
                <div class="user-position">
                    <p>10p</p>
                </div>
            </li>
        </ul>
    </div>
</div>
