<div class="user-menu">
    <header>
        <nav>
            <ul>
                <li><button>Inicio</button></li>
                <li><button>Juego</button></li>
                <li><button>Penca</button></li>
            </ul>
        </nav>
    </header>
    <div class="introduccion">
        <div class="imagen"><img src="../../assets/football.jpg" alt=""></div>
        <div class="nombre-copa">
            <div class="pseudo-imagen"></div>
            <div class="name"><p>Copa america 2024</p></div>
        </div>
    </div>
    <div class="container1">
        <div class="content">
            <h2>Titulo</h2>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            <div class="targeta">
                <div class="equipo">
                    <h3>Real Madrid</h3>
                    <img src="../../assets/barcelona.png" alt="">
                </div>
                <div class="separador">
                    <p>2</p>
                    <div class="forma"></div>
                    <p>3</p>
                </div>
                <div class="equipo">
                    <img src="../../assets/barcelona.png" alt="">
                    <h3>Real Madrid</h3>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</div>
