.user-menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #161c2d;
    width: 100%;
    min-height: 100vh;
}

.user-menu header {
    width: 90%;
    margin-bottom: 50px;
}

.user-menu header nav {
    width: 100%;
    background-color: white;
}

.user-menu header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    gap: 20px;
    padding: 20px 0;
    margin: 0;
    margin-top: 10px;
}

.user-menu header nav ul li{
    width: 120px;
    height: 50px;
    transition: all ease-out 300ms;
    border-bottom: 2px solid transparent;
}

.user-menu header nav ul li:hover{
    border-bottom: 2px solid #1a2434;
}

.user-menu header nav ul li button{
    text-decoration: none;
    color: black;
    font-size: 20px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}

.user-menu .introduccion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.user-menu .introduccion .imagen img {
    width: 800px;
    height: 500px;
}

.user-menu .introduccion .nombre-copa{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.user-menu .introduccion .nombre-copa .pseudo-imagen{
    width: 400px;
    height: 400px;
    background-image: url(https://www.psg.fr/media/267315/lyon-ouverture-bis.jpg?center=0.38596491228070173,0.56420233463035019&mode=crop&width=1200&height=800&quality=80);
    background-color: red;
    filter: blur(40px);
}

.user-menu .introduccion .nombre-copa .name{
    width: 100%;
    height: 100%;
    background: transparent;
    background-color: #161c2db6;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-menu .introduccion .nombre-copa .name p{
    color: #fff;
    line-height: 1.1;
    font-weight: 700;
    font-size: 4rem;
}

.user-menu footer{
    width: 100%;
    min-height: 50vh;
}

@media (max-width: 1650px){
    .user-menu .introduccion .imagen img {
        width: 600px;
        height: 400px;
    }

    .user-menu .introduccion .nombre-copa .name p{
        font-size: 3rem;
    }

    .user-menu .introduccion .nombre-copa{
        height: 400px;
    }
    
    .user-menu .introduccion .nombre-copa .pseudo-imagen{
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 1300px){
    .user-menu .introduccion {
        flex-direction: column;
    }

    .user-menu .introduccion .imagen img {
        width: 800px;
        height: 500px;
    }

    .user-menu .introduccion .nombre-copa .name p{
        font-size: 4rem;
    }

    .user-menu .introduccion .nombre-copa{
        height: 500px;
    }
    
    .user-menu .introduccion .nombre-copa .pseudo-imagen{
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 900px){
    .user-menu .introduccion .imagen img {
        width: 100%;
        height: auto;
    }

    .user-menu .introduccion .nombre-copa .name p{
        font-size: 3rem;
    }

    .user-menu .introduccion .nombre-copa{
        height: 400px;
        width: 100%;
    }
    
    .user-menu .introduccion .nombre-copa .pseudo-imagen{
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 700px){
    .user-menu header nav ul li{
        width: 80px;
        height: 45px;
    }
    
    .user-menu header nav ul li button{
        font-size: 15px;
    }

    .user-menu .introduccion .nombre-copa .name p{
        font-size: 2.4rem;
    }
}


