<div class="user-menu">
    <header>
        <nav>
            <ul>
                <li><button>Inicio</button></li>
                <li><button>Juego</button></li>
                <li><button>Penca</button></li>
            </ul>
        </nav>
    </header>
    <div class="introduccion">
        <div class="imagen"><img src="../../assets/football.jpg" alt=""></div>
        <div class="nombre-copa">
            <div class="pseudo-imagen"></div>
            <div class="name"><p>Copa america 2024</p></div>
        </div>
    </div>
    <div class="container1">
        
    </div>
    <footer>

    </footer>
</div>
