.user-access {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 100vh;
}

.user-access .background {
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/background/bg-3bm.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: fixed;
}

.user-access .content {
    width: 500px;
    height: 500px;
    background-color: #1017208c;
    display: flex;
    align-items: center;
    padding: 40px 20px;
    flex-direction: column;
    box-sizing: border-box;
    transition: all .15s ease-in;
    animation: animation1 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
}

@keyframes animation1 {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
  
.user-access .content:hover {
    background-color: #101720b9;
}

.user-access .content .options {
    display: flex;
    margin-bottom: 30px;
}

.user-access .content .options button {
    width: 160px;
    height: 50px;
    background-color: transparent;
    border: none;
    transition: all .2s ease-in;
    font-size: 18px;
    color: white;
    border-bottom: 2px solid transparent;
}

.user-access .content .options button:hover {
    border-bottom: 2px solid #5BBCFF;
}

.user-access .content .access-mode{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-access .content #mode-register{
    display: none;
}

.user-access .content .access-mode input {
    width: 300px;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: all .15s ease-in;
    font-size: 20px;
}

.user-access .content .access-mode input:hover {
    transform: scale(1.05);
}

.user-access .content .access-mode input:focus-visible {
    outline: black auto 1px;
}

.user-access .content .btn-entry-user {
    width: 160px;
    height: 50px;
    background-color: transparent;
    border: none;
    transition: all .2s ease-in;
    font-size: 18px;
    color: white;
    position: absolute;
    bottom: 120px;
}

.user-access .content .btn-entry-user:hover {
    background: #5BBCFF;
    color: black;
}

.user-access .content .btn-entry-admin{
    position: absolute;
    bottom: 20px;
    border: none;
    background-color: transparent;
    color: #5BBCFF;
    font-size: 16px;
}
