<app-header-user></app-header-user>

<div class="juego">
    <div class="container-1">
        <div class="options">
            <button>Hoy</button>
            <button>Futuros</button>
            <button>Completados</button>
            <select id="filtro-cuadro">
                <option value="">hola</option>
                <option value="">hola2</option>
            </select>
        </div>
        
        <ul>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="front">
                        <h3 class="cuadro-1">REAL MADRID</h3>
                        <p>VS.</p>
                        <h3 class="cuadro-2">REAL MADRID</h3>
                    </div>
                    <div class="info">
                        <p>Fecha</p>
                        <h2>Titulo</h2>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>