<div class="juego">
    <header>
        <nav>
            <ul>
                <li><button>Inicio</button></li>
                <li><button>Juego</button></li>
                <li><button>Penca</button></li>
            </ul>
        </nav>
    </header>

    <div class="container-1">
        <div class="title">
            <h2>Partidos</h2>
            <div class="filtros">
                <div class="opcion">
                    <label class="descripcion" for="filtro-completos">Completado</label>
                    <div class="cntr">
                        <input checked="" type="checkbox" id="filtro-completos" class="hidden-xs-up">
                        <label for="filtro-completos" class="cbx"></label>
                    </div>
                </div>
                <div class="opcion">
                    <label class="descripcion" for="filtro-cuadro">Cuadro</label>
                    <select id="filtro-cuadro">
                        <option value="">hola</option>
                        <option value="">hola2</option>
                    </select>
                </div>
            </div>
        </div>
        <ul>
            <li>
                <a href="">
                    <h2>Titulo</h2>
                    <div class="targeta">
                        <div class="equipo">
                            <h3>Real Madrid</h3>
                            <img src="../../assets/barcelona.png" alt="">
                        </div>
                        <div class="separador">
                            <p>2</p>
                            <div class="forma"></div>
                            <p>3</p>
                        </div>
                        <div class="equipo">
                            <img src="../../assets/barcelona.png" alt="">
                            <h3>Real Madrid</h3>
                        </div>
                    </div>
                    <div class="mas">
                        <button class="btn-mas">Ver mas</button>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>